* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header li {
    display: inline;
    text-decoration: none;
    font-size: 19px;

}

.container {
    width: 1396px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article {
    width: 30%;
}

.articles article img {
   /* height: 180px; */
   width: 100%;
}

time {
    color: rgb(4, 0, 0);
    font-size: 17px;

}

section {
    padding: 16px 0;
}

section h3, .articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
}

.articles article a {
    background-color: rgb(86, 86, 221);
    color: aliceblue;
    padding: 2px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

header h1 {
    color: rgb(253, 253, 253);
    background-color: rgb(10, 58, 142);
    padding: 10px;
    margin-bottom: 2px;
    font-size: 55px;
    
}

nav > a {
    color: blue;
}

li a {
    color: rgb(206, 22, 105);
    margin-bottom: 5px;
    padding: 5px;
}

.container h3 {
    font-size: 27px;
}

.articles article p {
    font-size: 19px;
}

#sports {
    background-color: rgba(255, 44, 44, 0.6);
}

#sports .articles article a {
    background-color: rgba(58, 6, 6, 0.63);
}

#economy {
    background-color: rgba(43, 226, 19, 0.924);
}

#economy .articles article a {
    background-color: rgba(38, 64, 8, 0.667);
}